<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github Finder</title>
  <link rel="stylesheet" href="../fonts/fontawessome/css/all.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body class="">
  <nav class="bg-blue-900 text-white">
    <div id="navbar" class="p-5 pl-24">
      <a href="#">Github Finder</a>
    </div>
  </nav>

 <div class="w-10/12 my-0 mx-auto" id="search-container" >
  <div id="search-card" class="border-gray-400 border-2 p-5 w-full mt-5 mb-10 md:pl-24">
    <h1 class="text-4xl text-black">Search Github Users</h1>
    <p>Enter a Username to Fetch a user Profile and Repos</p>
    <input type="text" id="search-user" class="h-11 w-full border-black border-2 p-2 my-5" placeholder="Github Username...">
  </div>

  <div id="profile" class="mb-16">
   
 </div>

 <footer class="text-center bg-blue-100">
   <p class="text-center">Github Finder &copy;</p>
 </footer>

 <script src="github.js"></script>
 <script src="ui.js"></script>
 <script src="app.js"></script>
</body>
</html>